{{yield}}

<div>
  <form>
    <h3>Add A New Category</h3>
    <div class="form-group">
      {{input value=title id="title" class="form-control" placeholder="Name of Title"}}
    </div>

    <button {{action "saveCategory"}} class="btn btn-default">Add Category</button>
  </form>
</div>
