{{outlet}}

<div class="container">
  {{#each model as |section|}}
    {{#link-to 'section' section.id}}<h3>{{section.heading}}</h3>{{/link-to}}
    {{#each section.categories as |category|}}
      {{#link-to 'category' category.id}}<h5>{{category.title}}</h5>{{/link-to}}
    {{/each}}
  {{/each}}
</div>
